#highlights {
  h2 {
    font: var(--h2);
    color: var(--color-font-white);
    margin-bottom: 8px;
  }
  p {
    font: var(--body-1);
    color: var(--color-font-grey);
    margin-bottom: 80px;
  }
}

#project-1 {
  display: flex;
}
