#highlights {
  h2 {
    font: var(--h2);
    color: var(--color-font-white);
    margin-bottom: 8px;
  }
}

#project-1 {

  display: flex;
  align-items: center;
  justify-content: space-between;
  max-height: 600px;
  gap: 48px;
  margin-bottom: 120px;
}


#about-pj {
  max-width: 576px;
  padding-top: 60px;
}

#highlights > p:nth-child(2) {
  font: var(--body-1);
  color: var(--color-font-grey);
  margin-bottom: 80px;
}

#about-pj h3{
  font: var(--subtitle);
  color: var(--color-font-white);
  margin-bottom: 16px;
}
#about-pj > p:nth-child(2){
  color: var(--color-font-grey);
  font: var(--body-1);
  margin-bottom: 32px;
}
#about-pj > p:nth-child(3){
  color: var(--color-font-white);
  font: var(--body-2);
  margin-bottom: 16px;
}
#about-pj > div:nth-child(5){
  color: var(--color-font-grey);
  font: var(--body-4);
  display: flex;
  justify-content: space-between;
  margin-block: 16px;
}
#about-pj > div:nth-child(7){
  color: var(--color-font-grey);
  font: var(--body-4);
  display: flex;
  justify-content: space-between;
  margin-block: 16px;
}
#about-pj > div:nth-child(9){
  font: var(--body-3);
  display: flex;
  margin-block: 16px;
  align-items: center;
  a{
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-thickness: 2px;
    color: var(--primary);
    font: var(--body-3);
    text-transform: uppercase;
    img{
      position: relative;
      top: 7px;
      object-fit: cover;
      margin-right: 24px;
    }
  }
}

#project-1 {
  position: relative;
   
}
#background::before{
  content: "";
  background-color: var(--background-color2);
  position: absolute;
  inset: 0;
  width: 600px;
  height: 600px;
  border-radius: 12px;
}


#background img{
   position: absolute;
   top: 127px;
   left: 56px;
   border-radius: 12px;
}

