#initial div a img{
  
}

#initial{
  display: flex;
  justify-content: space-between;
  div:nth-child(1){
    margin-top: 190px;
  }
  img:nth-child(2){
    width: 600px;
    height: 700px;
    object-fit: cover;
    object-position: 50% 30%;
    border-radius: 25px;
  }
}


#initial div h1{
  font: var(--h1);
  color: var(--color-font-white);
}
#initial div p{
  font: var(--body-1);
  color: var(--color-font-grey);
  margin-top: 8px;
}

#initial-2{
  margin-top: 40px;
  display: flex;
  align-items: center;
  gap: 16px;
  max-height: 54px;
}

#initial-2 a:nth-child(1){
  background-color: var(--primary);
  padding-top: 16px;
  padding-bottom: 16px;
  padding-inline: 55px;
  border-radius: 100px;
  color: var(--background-color);
  font: var(--body-3);
}
#initial-2 a:nth-child(2){
  position: relative;
  top: 4px;
}
#initial-2 a:nth-child(3){
  position: relative;
  top: 4px;
}