
#initial{
    display: flex;
    justify-content: space-between;
    
    div{
        padding-top: 190px;
        h1{
            font: var(--h1);
            color: var(--color-font-white);
            margin-bottom: 8px;
        }
        p{
            font: var(--body-1);
            color: var(--color-font-grey);
            margin-bottom: 40px;

        }
        #initial-2{
            display: flex;
            padding-top: 0px;
            align-items: center;
            align-content: center;
            vertical-align: middle;
            gap: 16px;
            a {
                color: var(--font-white);
                align-items: center;
                align-content: center;
                img{
                    height: 54px;
                    width: 54px;
                    object-fit: cover;
                    margin-top: 0px;
                    padding-top: 0px;
                }
            }
        }
    }
}

#initial div div a:nth-child(1){
    width: 187px;
    height: 54px;
    background-color: var(--primary);
    border-radius: 100px;
    text-align: center;
}

#initial img{
    width: 600px;
    height: 700px;
    object-fit: cover;
    object-position: 50% 30%;
    border-radius: 20px;
    margin-top: 30px;
}